/documents/*
/pickle/*
/log/*
/test_folder/*
/test_folder_output/*

# Remove documents scraped
/scraper/Scrape_header/*/
/scraper/Scrape_rst/*/
/scraper/Scrape_md/*/
# /scraper/Scrape_pdf/*/

# Remove all videos and audio files
*mp4
*wav
*mp3
*pdf