/documents/*
/pickle/*
/log/*

/scaper/Scraper_header/*.md
/scaper/Scraper_header/*.txt
/scaper/Scraper_header/*.pkl
/scaper/Scraper_header/*.rst

/scaper/Scraper_rst/*.md
/scaper/Scraper_rst/*.txt
/scaper/Scraper_rst/*.pkl
/scaper/Scraper_rst/*.rst

/scaper/Scraper_md/*.md
/scaper/Scraper_md/*.txt
/scaper/Scraper_md/*.pkl
/scaper/Scraper_md/*.rst