-e git+https://github.com/FlagOpen/FlagEmbedding.git@23407d5cbb0b214c74b3c29e1a1f39b45ce9e7fd#egg=FlagEmbedding
Babel==2.14.0
Bottleneck==1.3.8
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
Cython==3.0.8
Distance==0.1.3
Flake8-pyproject==1.2.3
Flask==3.0.2
GitPython==3.1.41
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
Jinja2==3.1.2
Levenshtein==0.23.0
Levenshtein==0.25.1
Markdown==3.5.2
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900061465/work
MarkupSafe==2.1.3
PyPika==0.48.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373498369/work
PyYAML==6.0.1
Pygments==2.17.2
Sphinx==7.2.6
TextGrid==1.5
Werkzeug==3.0.1
absl-py==2.1.0
accelerate==0.27.2
addict==2.4.0
aiohttp==3.8.5
aiohttp==3.9.4
aiosignal==1.3.1
aistudio-sdk==0.1.7
alabaster==0.7.16
albumentations==1.3.1
albumentations==1.4.3
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
angle-emb==0.3.3
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1708355285029/work
anyio==3.7.1
appdirs==1.4.4
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
attrs==23.2.0
audioread==3.0.1
backoff==2.2.1
bce-python-sdk==0.9.4
bcrypt==4.0.1
beartype==0.17.2
beautifulsoup4==4.12.2
beir==2.0.0
bitsandbytes==0.42.0
black==24.4.0
blinker==1.7.0
boltons==23.1.1
braceexpand==0.1.7
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
certifi==2023.7.22
cffi==1.16.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
charset-normalizer==3.3.0
chroma-hnswlib==0.7.3
chromadb==0.4.13
click==8.1.7
cohere==4.32
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.1
contourpy==1.2.0
crcmod==1.7
cryptography==42.0.5
cycler==0.12.1
cytoolz==0.12.3
datasets==2.17.1
datasets==2.18.0
decorator==4.4.2
dill==0.3.4
dill==0.3.8
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
editdistance==0.8.1
einops==0.7.0
elasticsearch==7.9.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
execnet==2.1.1
executing==2.0.1
faiss-cpu==1.7.4
fastapi==0.103.2
fastavro==1.8.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1712686151958/work
filelock==3.12.4
flake8==7.0.0
flask-babel==4.0.0
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.0
frozenlist==1.4.1
fsspec==2023.9.2
fsspec==2024.2.0
future==1.0.0
g2p-en==2.1.0
g2pM==0.1.2.5
gast==0.5.4
gitdb==4.0.11
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1713794444357/work
gritlm==1.0.0
grpcio==1.62.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py==3.10.0
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpcore==1.0.2
httptools==0.6.0
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
httpx==0.26.0
huggingface-hub==0.20.3
huggingface-hub==0.22.2
humanfriendly==10.0
hydra-core==1.3.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
idna==3.4
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1694632425602/work
imageio-ffmpeg==0.4.9
imageio==2.33.1
imageio==2.34.1
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.0
inflect==7.0.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
intervaltree==3.1.0
ipython==8.22.1
ipywidgets==8.1.2
isort==5.13.2
itsdangerous==2.1.2
jaconv==0.3.4
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
jiwer==3.0.3
jmespath==0.10.0
joblib==1.3.2
joblib==1.4.0
jsonlines==4.0.0
jupyterlab_widgets==3.0.10
kaldi-python-io==1.2.2
kaldiio==2.18.0
kiwisolver==1.4.5
lazy_loader==0.3
lazy_loader==0.4
lhotse==1.21.0
librosa==0.10.1
lightning-utilities==0.10.1
lightning-utilities==0.11.2
lightning==2.1.3
lightning==2.2.2
lilcom==1.7
llvmlite==0.42.0
loguru==0.7.2
lxml==5.1.0
markdown-it-py==2.2.0
markdownify==0.11.6
marshmallow==3.21.0
matplotlib-inline==0.1.6
matplotlib==3.8.3
mccabe==0.7.0
mdformat==0.7.17
mdformat_deflist==0.1.2
mdformat_frontmatter==2.0.1
mdformat_myst==0.1.5
mdformat_tables==0.4.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
mock==5.1.0
modelscope==1.12.0
monotonic==1.6
more-itertools==10.2.0
moviepy==1.0.3
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
mpmath==1.3.0
msgpack==1.0.7
mteb==1.1.2
multidict==6.0.4
multidict==6.0.5
multiprocess==0.70.12.2
multiprocess==0.70.16
munch==4.0.0
mypy-extensions==1.0.0
mypy==1.9.0
nara-wpe==0.0.9
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
networkx==3.1
nltk==3.8.1
nougat-ocr==0.1.17
numba==0.59.0
numba==0.59.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225416355/work/dist/numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=14c628943f67e9c10d22faa9c1cdcbf69c3192e88f2f597d03b77a252e589567
numpy==1.26.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.16.0
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
openai-whisper==20231117
openai==0.28.0
openai==0.28.1
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
orjson==3.10.0
orjson==3.9.12
oss2==2.18.4
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
packaging==23.2
paddle2onnx==1.1.0
paddleaudio==1.0.2
paddlefsl==1.1.0
paddlenlp==2.7.2
paddlepaddle==2.6.0
paddlespeech-feat==0.1.0
pandas==2.1.4
pandas==2.2.2
pandoc==2.3
parso==0.8.3
pathos==0.2.8
pathspec==0.12.1
pattern-singleton==1.2.0
peft==0.8.2
pexpect==4.9.0
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1712154790137/work
pillow==10.2.0
plac==1.4.3
platformdirs==4.2.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1706116770704/work
plumbum==1.8.2
ply==3.11
pooch==1.8.1
portalocker==2.8.2
posthog==3.0.2
pox==0.3.4
ppft==1.7.6.8
praatio==5.0.0
prettytable==3.9.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==4.24.3
psutil==5.9.6
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyarrow-hotfix==0.6
pyarrow==14.0.2
pyarrow==15.0.2
pybind11==2.11.1
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.20.0
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1713905669586/work
pydantic==2.4.2
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1713861865742/work
pydantic_core==2.10.1
pydub==0.25.1
pyflakes==3.2.0
pyloudnorm==0.1.1
pynndescent==0.5.11
pypandoc==1.13
pyparsing==3.1.1
pypdf==4.0.0
pypdf==4.2.0
pypdfium2==4.26.0
pypdfium2==4.29.0
pypinyin-dict==0.7.0
pypinyin==0.50.0
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1709992573517/work
pytest-runner==6.0.1
pytest-xdist==3.5.0
python-Levenshtein==0.23.0
python-Levenshtein==0.25.1
python-dateutil==2.8.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.6
pytorch-lightning==2.0.7
pytorch-lightning==2.2.2
pytorch-wpe==0.0.1
pytrec-eval==0.5
pytube @ file:///home/conda/feedstock_root/build_artifacts/pytube_1683494883122/work
pytube==15.0.0
pytz==2023.3.post1
pytz==2024.1
pyworld==0.3.4
qudida==0.0.4
rapidfuzz==3.6.1
rapidfuzz==3.8.1
rarfile==4.1
regex==2023.10.3
regex==2023.12.25
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests==2.31.0
resampy==0.2.2
rich==13.7.0
rotary-embedding-torch==0.5.3
rst-to-myst==0.4.0
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.5
ruamel.yaml==0.18.6
sacremoses==0.1.1
safetensors==0.4.2
scenedetect==0.6.3
scikit-image==0.22.0
scikit-image==0.23.1
scikit-learn==1.3.1
scikit-learn==1.4.2
scipy==1.11.3
scipy==1.13.0
sconf==0.2.5
sentence-transformers==2.3.1
sentencepiece==0.1.99
sentencepiece==0.2.0
sentry-sdk==1.40.2
seqeval==1.2.2
setproctitle==1.3.3
shellingham==1.5.4
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
six==1.16.0
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sox==1.4.1
soxr==0.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
starlette==0.27.0
style==1.1.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.16.2
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
termcolor==2.4.0
text-unidecode==1.3
texterrors==0.4.4
threadpoolctl==3.2.0
threadpoolctl==3.4.0
tifffile==2023.12.9
tifffile==2024.2.12
tiktoken @ file:///Users/runner/miniforge3/conda-bld/tiktoken_1707689245617/work
tiktoken==0.5.1
timer==0.2.2
timm==0.5.4
tokenizers==0.15.1
tokenizers==0.15.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomli==2.0.1
tool-helpers==0.1.1
toolz==0.12.1
torch-complex==0.4.3
torch==2.2.1
torch==2.2.2
torchaudio==2.2.0.dev20240422
torchaudio==2.2.1
torchmetrics==1.3.0.post0
torchmetrics==1.3.2
torchvision==0.17.1
torchvision==0.17.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
tqdm==4.66.1
traitlets==5.14.1
transformers==4.37.2
transformers==4.38.2
triton==2.2.0
typeguard==4.1.5
typer==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
typing_extensions==4.8.0
tzdata==2023.4
tzdata==2024.1
umap-learn==0.5.5
update==0.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
urllib3==2.0.6
uvicorn==0.23.2
uvloop==0.17.0
visualdl==2.5.3
voyageai==0.1.2
wandb==0.16.3
watchfiles==0.20.0
wcwidth==0.2.13
webdataset==0.1.62
webrtcvad==2.0.10
websockets==11.0.3
wget==3.2
whisper==1.1.10
whisper==1.1.5
widgetsnbextension==4.0.10
wrapt==1.16.0
xxhash==3.4.1
yacs==0.1.8
yapf==0.40.2
yarl==1.9.2
yarl==1.9.4
youtokentome==1.0.6
zhon==2.0.2
zipp==3.17.0
