angle_emb==0.3.10
beautifulsoup4==4.12.3
colorama==0.4.6
cohere==5.3.2
FlagEmbedding==1.2.9
gritlm==1.0.0
markdownify==0.12.1
moviepy==1.0.3
nougat-ocr==0.1.17
openai==0.28.0
openai_whisper==20231117
packaging==24.0
pytest==8.1.1
python-dotenv==1.0.1
pytubefix==6.3.3
PyYAML==6.0.1
Requests==2.31.0
rst_to_myst==0.4.0
scenedetect==0.6.3
termcolor==2.4.0
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.3.0
tqdm==4.66.2
transformers==4.38.2
pymupdf==1.24.5
pymupdfb==1.24.3
voyageai==0.2.2
pix2text==1.1.1
nougat-ocr==0.1.17
albumentations==1.4.11
pydantic==2.8.2
dependency_injector==4.41.0